body
{
    background-color: rgb(220,220,220);
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Dosis', sans-serif;
}

section
{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#wapper
{

}

.skew
{
    -webkit-transform: skewY(355deg);
    transform: skewY(355deg);
    margin-top: -2px;
}

.unskew
{
    -webkit-transform: skewY(-355deg);
    transform: skewY(-355deg);
    backface-visibility: hidden;
    padding: 2px;
}

h1, h2, h3
{
    margin: 0px;
    margin-top: 1px;
    margin-bottom: 1px;
    padding-top: 0;
    padding-bottom: 0;
}

p 
{
    margin: 1em auto;
    page-break-inside: avoid;
}

ul
{
    list-style: none;
}

.header
{
    cursor: pointer;
    color: rgb(255,255,255);
    padding-top: 3%;
    padding-bottom: 1%;
    box-shadow: inset 0 7px 10px -5px #00000088;
}

.content
{
    color: rgb(255,255,255);
    padding-bottom: 1%;
}

#contact-wrapper
{
    background: linear-gradient(0deg,hsl(0, 92%, 31%),hsl(0, 92%, 33%));
}

#contact-header
{
    grid-row: contact-header;
    margin-top: -6%;
    padding-top: 8%;
    z-index: 50;
}

#contact-contents
{
    grid-row: contact-contents;
    z-index: 50;
}

#skill-wrapper
{
    background: linear-gradient(0deg,hsl(116, 82%, 31%),hsl(116, 82%, 33%));
    box-shadow: inset 0px 5px 30px -2px black;
    max-width: 50 em;
}

#skill-header
{
    grid-row: skills-header;
    z-index: 40;
}

#skill-contents
{
    grid-row: skills-contents;
    z-index: 40;
    padding-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
}

#experience-wrapper
{
    background: linear-gradient(0deg,hsl(212, 85%, 31%),hsl(212, 85%, 33%));
    box-shadow: inset 0px 5px 30px -2px black;
    max-width: 50 em;
}

#experience-header
{
    grid-row: experience-header;
    z-index: 30;
}

#experience-contents
{
    grid-row: experience-contents;
    z-index: 30;
    padding-bottom: 3%;
    margin-left: 5%;
    margin-right: 5%;
}

.experience-pdf
{
  display: none;
}

#education-wrapper
{
    background: linear-gradient(0deg,hsl(40, 100%, 37%),hsl(40, 100%, 39%));
    box-shadow: inset 0px 5px 30px -2px black, 0px 15px 15px -2px black; 
}

#education-header
{
    grid-row: education;
    z-index: 20;
}

#education-contents
{
    grid-row: education;
    z-index: 20;
    padding-bottom: 2%;
}

.skillz
{
  display: grid;
  grid-template-columns: [languages] auto [stacks] auto [skills] auto;
  padding: 0px;
}

.degreez
{
  display: grid;
  grid-template-columns: [masters_degree] auto [bachelors_degree] auto;
  padding: 0px;
}

#languages
{
  grid-column: languages;
}

#stacks
{
  grid-column: stacks;
}

#skills-list
{
  grid-column: skills;
}

#masters_degree
{
  grid-column: masters_degree;
}

#bachelors_degree
{
  grid-column: bachelors_degree;
}

.used
{
  font-family: 'Indie Flower', cursive;
}

.want-to-use
{
  font-family: 'Permanent Marker', cursive;
}

@media print
{
  body
  {
    background: none;
    font-size: 12px;
  }
  
  p
  {
    margin: none;
  }

  h3
  {
    margin-top: -7px;
  }

  #contact-wrapper
  {
    background: none;
    box-shadow: none;
  }

  #skill-wrapper
  {
    background: none;
    box-shadow: none;
    padding-bottom: 0;
  }

  #experience-wrapper
  {
    background: none;
    box-shadow: none;
    padding-bottom: 0;
  }

  .experience-web
  {
    display: none;
  }

  .experience-pdf
  {
    display: inline;
  }

  #education-wrapper
  {
    background: none;
    box-shadow: none;
    padding-bottom: 1%;
  }

  .header
  {
    background: linear-gradient(0deg,hsl(40, 0%, 83%),hsl(40, 0%, 85%));
    color: rgb(0, 0, 0);
  }

  .content
  {
    display: block !important;
    color: rgb(0, 0, 0);
  }
}

@media screen and (min-width: 800px) {
  #skill-contents
  {
    grid-row: skills-contents;
    z-index: 40;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
  }

  #experience-contents
  {
    grid-row: experience-contents;
    z-index: 30;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
  }

  #education-contents
  {
    grid-row: education-contents;
    z-index: 20;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
  }
}

