html {
  background-color: rgb(240, 240, 240);
}

body
{
  background-color: rgb(248, 248, 248);
  box-sizing: border-box;
  font-family: 'K2D';
  margin: auto;
  max-width: 70em;
}

div, section
{
    box-sizing: border-box;
    padding: 10px;
}

h2
{
    margin: 0px;
}

p 
{
    max-width: 68em;
}

a
{
    color: rgb(43, 43, 175);
}

.blurb
{
    display: flex;
    flex-direction: column;
}

#wapper
{
  display: grid;
  grid-row-gap: 1vmin;
  grid-template-rows: [name] auto [education] auto [experience1] auto [experience2] auto [experience3] auto [experience4] auto [experience5] auto;
  padding-top: 1em;
  padding-bottom: 1em;
}

#name
{
  display: flex;
  grid-row: name;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-self: center;
  color: rgb(125, 23, 23);
  font-family: 'Gruppo', cursive;
  font-size: 1.7em;
}

#education
{
  grid-row: education;
  display: block;
  text-align: left;
  justify-content: flex-end;
  position: relative;
  color: rgb(75, 13, 13);
}

#education:before
{
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 15%;
  border-top: 2px solid rgb(23, 125, 23);
}

#education:after
{
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 35%;
  border-left: 2px solid rgb(23, 125, 23);
  border-bottom: 2px solid  rgb(23, 125, 23);
}


#experience1
{
  grid-row: experience1;
  text-align: left;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  color: rgb(13, 13, 75);
}

#experience1:before
{
  content: '';
  position: absolute;
  left: 0px;
  right: 40%;
  top: 0px;
  bottom: 0px;
  border-top: 2px solid rgb(125, 23, 23);
  border-right: none;
}

#experience1:after
{
  content: '';
  position: absolute;
  left: 0px;
  right: 20%;
  top: 0px;
  bottom: 0px;
  border-bottom: 2px solid rgb(125, 23, 23);
  border-left: 2px solid rgb(125, 23, 23);
  border-right: none;
}

#experience2
{
  grid-row: experience2;
  display: block;
  text-align: left;
  justify-content: flex-end;
  position: relative;
  color: rgb(13, 75, 13);
}

#experience2:before
{
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 70%;
  border-top: 2px solid rgb(23, 23, 125);
}

#experience2:after
{
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 45%;
  border-left: 2px solid rgb(23, 23, 125);
  border-bottom: 2px solid  rgb(23, 23, 125);
}


#experience3
{
  grid-row: experience3;
  display: block;
  text-align: left;
  justify-content: flex-end;
  position: relative;
  color: rgb(75, 13, 13);
}

#experience3:before
{
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 40%;
  border-top: 2px solid rgb(23, 125, 23);
}

#experience3:after
{
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 85%;
  border-left: 2px solid rgb(23, 125, 23);
  border-bottom: 2px solid  rgb(23, 125, 23);
}


#experience4
{
  grid-row: experience4;
  display: block;
  text-align: left;
  justify-content: flex-end;
  position: relative;
  color: rgb(13, 13, 75);
}

#experience4:before
{
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 70%;
  border-top: 2px solid rgb(125, 23, 23);
}

#experience4:after
{
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 20%;
  border-left: 2px solid rgb(125, 23, 23);
  border-bottom: 2px solid  rgb(125, 23, 23);
}

#experience5
{
  grid-row: experience5;
  display: block;
  text-align: left;
  justify-content: flex-end;
  position: relative;
  color: rgb(13, 75, 13);
}

#experience5:before
{
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 70%;
  border-top: 2px solid rgb(23, 23, 125);
}

#experience5:after
{
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 45%;
  border-left: 2px solid rgb(23, 23, 125);
  border-bottom: 2px solid  rgb(23, 23, 125);
}


@media print {
  body {
    font-size: 0.7em;
  }

  p {
    margin: 0 0 18px 0;
  }

  .page-break { 
    page-break-before: always; 
  }
}

